.turn-light-on{
    content:url("img/light-bulb-on.png");
}
.turn-light-switch-on{
    content:url("img/light-switch-on.jpg");
    content:alt(" (Image - Right click to reload if not loaded)");
}
.light{
    width: 200px;
    height: 200px;
}

body{
    background-color: black;
}
#offset{
    width: 50px;
    height: 15%;
}

.container-light{
    background: rgb(255,251,101);
    background: radial-gradient(circle, rgba(255,251,101,0.9500000683867297) 0%, rgba(2,0,36,0.24411771544555327) 66%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    width: auto;
    height: 100vh;
}
img{
    offset-position: 25% 75%;
}

.light-switch{
    width: 50px;
}
